atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
flake8==3.9.2
flake8-polyfill==1.0.2
importlib-metadata==4.8.1
iniconfig==1.1.1
mccabe==0.6.1
more-itertools==8.10.0
packaging==21.0
pep8-naming==0.12.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==5.3.2
toml==0.10.2
typing-extensions==3.10.0.2
wcwidth==0.2.5
zipp==3.6.0
